header {
  width: 100%;
  //position: fixed;
  z-index: 9;
  nav {
    background-color: $color-rojo;
    width: 100%;
    .container-fluid {
      display: flex;

      .logo {
        width: 100px;
      }
      .nav-item {
        text-align: center;
        .nav-link {
          color: $color-crema;
          font-family: $font-main;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.navbar > .container-fluid {
  width: 80%;
  max-width: 1360px;
}
