.siteContainer {
  background-image: url("../img/bg_index.png");
  background-repeat: repeat;
  background-position: center;
  width: 100vw;
  .banner {
    background-image: url("../img/sol_rojo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-width: 1680px;
    margin: 0 auto;
    position: relative;
    .banner__punch {
      display: inline-block;
      position: absolute;
      top: 100%;
      left: 55%;
      transform: translate(-55%, -100%);
      img {
        width: 100%;
        min-width: 200px;
      }
    }

    .banner__punch--animation {
      animation: appear 5s infinite normal;
    }

    @keyframes appear {
      0% {
        opacity: 0;
        transform: translate(-55%, 0);
      }

      50% {
        opacity: 1;
        transform: translate(-55%, -100%);
      }

      100% {
        transform: translate(-55%, 0);
      }
    }

    // .banner__city {
    //   width: 100%;
    //   position: absolute;
    //   top: 100%;
    //   transform: translateY(-100%);
    //   display: flex;
    //   justify-content: center;
    //   align-items: flex-end;
    //   img {
    //     width: 100%;
    //     max-width: 400px;
    //   }
    // }
  }
}
