@media all and (max-width: 991px) {
  nav {
    background-color: $color-rojo;
    //background-image: url("../img/mobile/menu_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
  }
  .navbar-nav {
    height: 100vh;
    padding-top: 30%;
  }
  .navbar > .container-fluid {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
