@media screen and (min-height: 10px) {
  .siteContainer {
    .section {
      .banner {
        .banner__punch {
          img {
            max-width: 200px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 550px) {
  .siteContainer {
    .section {
      .banner {
        .banner__punch {
          img {
            min-width: 230px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 600px) {
  .siteContainer {
    .section {
      .banner {
        .banner__punch {
          img {
            min-width: 250px;
          }
        }
        .banner__city {
          top: 105%;
        }
      }
    }
  }
}

@media screen and (min-height: 700px) {
  .siteContainer {
    .section {
      .banner {
        .banner__punch {
          img {
            min-width: 300px;
          }
        }
        .banner__city {
          top: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (min-height: 700px) {
  nav {
    background-image: url("../img/mobile/menu_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .navbar-nav {
    height: 80vh;
    padding-top: 80px;
  }
  .navbar > .container-fluid {
    flex-direction: row;
    justify-content: center;
  }
  .siteContainer {
    .banner__triangle {
      width: 0;
      height: 0;
      margin: 0 auto;
      border-right: 200px solid transparent;
      border-left: 200px solid transparent;
      border-top: 250px solid #ae0c10;
    }
    .section {
      .banner {
        .banner__titles {
          h1 {
            font-family: $font-main;
            font-size: 2.5rem;
          }
          h2 {
            font-size: 1rem;
          }
        }
        .banner__punch {
          top: 90%;
          left: 50%;
          img {
            max-width: 350px;
          }
        }
        .banner__city {
          top: 100%;
        }
      }
    }
    .container {
      .banner__triangle--black {
        border-top: 250px solid $color-negro;
        h2 {
          font-size: 2rem;
          color: $color-crema;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (min-height: 900px) {
  .siteContainer {
    .section {
      .banner {
        .banner__punch {
          top: 95%;
          img {
            max-width: 400px;
          }
        }
        .banner__city {
          top: 105%;
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) and (min-height: 300px) {
  .siteContainer {
    .section {
      .banner {
        .banner__punch {
          top: 95%;
        }
        .banner__city {
          top: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) and (min-height: 900px) {
  .siteContainer {
    .section {
      max-width: 1440px;
      .section__header {
        width: 100%;
        max-width: 1440px;
      }
      .banner {
        .banner__punch {
          top: 95%;
          img {
            max-width: 420px;
          }
        }
        .banner__city {
          top: 105%;
          max-width: 1440px;
          img {
            max-width: 1440px;
          }
        }
      }
    }
  }
}
