// Menos de 641 = Mobile
// Desde 641 menos de 1140px = Tablet
// A 1141 = notepad
// Desde 1142 < = Desktop
// ancho total del body 1440px

@media screen and (min-height: 10px) {
  .siteContainer {
    .home {
      .banner {
        .banner__punch {
          left: 50%;
          transform: translate(-50%, 0%);
          img {
            //background-color: aqua;
            max-width: 200px;
          }
        }
        .banner__city {
          top: 105%;
        }
      }
    }
  }
}

@media screen and (min-height: 550px) {
  .siteContainer {
    .home {
      .banner {
        .banner__punch {
          img {
            //background-color: rgb(114, 95, 78);
            min-width: 230px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 600px) {
  .siteContainer {
    .home {
      .banner {
        .banner__punch {
          img {
            //background-color: rgb(114, 95, 78);
            min-width: 250px;
          }
        }
        .banner__city {
          top: 105%;
        }
      }
    }
  }
}

@media screen and (min-height: 700px) {
  .siteContainer {
    .home {
      .banner {
        .banner__punch {
          left: 50%;
          transform: translate(-50%, 0%);
          img {
            //background-color: rgb(114, 95, 78);
            min-width: 300px;
          }
        }
        .banner__city {
          top: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (min-height: 700px) {
  .siteContainer {
    .home {
      .banner {
        .banner__punch {
          left: 50%;
          transform: translate(-50%, 0%);
          img {
            //background-color: rgb(173, 44, 115);
            max-width: 350px;
          }
        }
        .banner__city {
          top: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (min-height: 900px) {
  .siteContainer {
    .home {
      .banner {
        .banner__punch {
          img {
            //background-color: rgb(44, 173, 65);
            max-width: 400px;
          }
        }
        .banner__city {
          top: 105%;
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) and (min-height: 300px) {
  .siteContainer {
    .home {
      .banner {
        .banner__city {
          top: 110%;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) and (min-height: 900px) {
  .siteContainer {
    .home {
      .banner {
        .banner__punch {
          img {
            //background-color: rgb(44, 173, 65);
            max-width: 420px;
          }
        }
      }
    }
  }
}
