//Colors Chart
$color-negro: #000000;
$color-bordo: #811810;
$color-marron: #5e2d2b;
$color-rojo: #ae0c10;
$color-naranja: #d34b29;
$color-rosa: #c03233;
$color-crema: #fde9a7;
$color-claro: #f7e7ce;

//fonts Chart
@font-face {
  font-family: "AldotheApache";
  src: url(../fonts/AldotheApache.woff) format("woff");
  font-style: normal;
}

$font-main: "AldotheApache";
